{% comment %} Navigation Menu {% endcomment %}
<ul class="nav">
  {% for node in site.data.navigation %}
    {% assign url = node.url | relative_url %}
    <li class="nav-item{% if url == page.url %} active{% endif %}">
      <a href="{{ url }}" class="nav-link">{{ node.title }}</a>
      {% if node.children %}
        <ul class="nav">
          {% for child in node.children %}
            {% assign child_url = child.url | relative_url %}
            <li class="nav-item{% if child_url == page.url %} active{% endif %}">
              <a href="{{ child_url }}" class="nav-link">{{ child.title }}</a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </li>
  {% endfor %}
</ul>

{% comment %} Breadcrumbs {% endcomment %}
<!--
<nav aria-label="Breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ site.url }}">Home</a></li>
    {% capture crumb_path %}{{ page.url | remove:'/index.html' | replace:'/../','' }}{% endcapture %}
    {% assign crumbs = crumb_path | split: '/' %}
    {% assign crumb_length = crumbs | size | minus: 1 %}
    {% for crumb in crumbs offset: 1 %}
      {% if forloop.index == crumb_length %}
        <li class="breadcrumb-item active" aria-current="page">{{ crumb | replace:'-',' ' | remove:'.html' | capitalize }}</li>
      {% else %}
        {% if crumb == blank %}
          {% continue %}
        {% else %}
          <li class="breadcrumb-item">
            <a href="{% assign crumb_limit = forloop.index | plus: 1 %}{% for tmp_crumb in crumbs limit: crumb_limit %}{% unless forloop.last %}/{{ tmp_crumb }}{% endunless %}{% endfor %}">
              {{ crumb | replace:'-',' ' | remove:'.html' | capitalize }}
            </a>
          </li>
        {% endif %}
      {% endif %}
    {% endfor %}
  </ol>
</nav>
-->